
@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

h1 {
  padding: 20px 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

var pStyle1 {
  padding: '40px'
};
var pStyle2 {
  width: 100%
};


.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.tableHover:hover{color:#FFF!important;background-color:#555!important}